CRON_SECRET=your_cron_secret_key_here
DATABASE_KEY=your_database_key_here
JWT_SECRET=your_jwt_secret_key_here
DATABASE_URL=postgresql://user:password@localhost:5432/database_name
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
